html
	head
		title= name	
	
	body
		#main
			h1 Quizzes
			ul
				each q in quizzes
					- tags = ""
					each tag in q.tags
						- tags += `${tag} `
					a(href=`/quiz/${q._id}`) #{q.creator}: #{tags}

					br
					br